<?xml version="1.0"?>
<!--
Author: Pradheep Padmanabhan
Contributor: Adarsh Karan K P
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="elite">

  <!-- Set use_gz = true for simulation -->
  <xacro:arg name="use_gz" default="false"/>

  <!-- arm parameters -->
  <xacro:arg name="arm_type" default="ec66"/>
  <xacro:property name="arm_height" default="0.376" />

  <!-- Include macros -->
  <xacro:include filename="$(find elite_description)/urdf/xacros/elite_macro.xacro" />

  <!--Elite arm parameters -->
  <xacro:arg name="arm_parent" default="world"/>
  <xacro:arg name="tf_prefix" default="$(arg arm_type)" />
  <xacro:arg name="joint_limit_params_file" default="$(find elite_description)/config/$(arg arm_type)/joint_limits.yaml"/>
  <xacro:arg name="kinematics_params_file" default="$(find elite_description)/config/$(arg arm_type)/kinematics.yaml"/>
  <xacro:arg name="physical_params_file" default="$(find elite_description)/config/$(arg arm_type)/physical_parameters.yaml"/>

  <!-- initial positions file for Elite arm on rox -->
  <xacro:arg name="initial_joint_positions_file" default="$(find rox_bringup)/configs/elite/initial_positions.yaml"/>

  <!-- Load parameters from YAML file -->
  <xacro:property 
    name="elite_initial_positions" 
    value="${xacro.load_yaml('$(arg initial_joint_positions_file)')}"
    />

  <!--create arm from macro -->
  <xacro:elite_robot 
    name="$(arg arm_type)"
    tf_prefix="$(arg tf_prefix)"
    parent="$(arg arm_parent)"
    joint_limits_parameters_file="$(arg joint_limit_params_file)"
    kinematics_parameters_file="$(arg kinematics_params_file)"
    physical_parameters_file="$(arg physical_params_file)"
    >
    <origin xyz="0.218 0.0 ${arm_height}" rpy="0.0 0.0 3.1415926535897931" />
  </xacro:elite_robot>

  <!-- If gz simulation is used -->
  <xacro:if value="$(arg use_gz)">

    <xacro:include filename="$(find elite_description)/urdf/xacros/elite_ros2_control_macro.xacro" />

    <xacro:arg name="simulation_controllers" default="$(find rox_bringup)/configs/elite/$(arg arm_type)/elite_controllers.yaml"/>

    <gazebo reference="$(arg arm_parent)">
    </gazebo>
    <gazebo>
      <plugin name="gz_ros2_control::GazeboSimROS2ControlPlugin" filename="libgz_ros2_control-system">
        <parameters>$(arg simulation_controllers)</parameters>
      </plugin>
    </gazebo>

    <!-- Use the Elite_ros2_control macro -->
    <xacro:elite_ros2_control
      name="GazeboSimSystem"
      tf_prefix="$(arg tf_prefix)" 
      plugin="gz_ros2_control/GazeboSimSystem"
      parameters="$(arg simulation_controllers)"
      initial_positions="${elite_initial_positions}"
      />
  </xacro:if>

</robot>
