<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rox">

  <xacro:macro name="rox_base" params="name parent type *origin">
   <joint name="${name}_joint" type="fixed">
    <xacro:insert_block name="origin" />
    <axis xyz="0 0 -1" />
    <parent link="${parent}" />
    <child link="${name}" />
   </joint>
   <link name="${name}">
      <inertial>
      <!-- These are not accurate value -->
        <mass value="0.1" />
        <origin xyz="0 0 0.0" rpy="0.00 0.00 0.0"/>
        <inertia ixx="0.05" ixy="0.000" ixz="0.000"
                 iyy="0.0" iyz="0.000" 
                 izz="0.05" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
            <mesh filename="package://rox_description/meshes/${type}_frame.dae" scale="0.1 0.1 0.1"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
            <mesh filename="package://rox_description/meshes/${type}_frame.dae" scale="0.1 0.1 0.1"/>
        </geometry>
      </collision>
    </link>
    <gazebo reference="${name}">
    <!-- <kp> 10000 </kp> -->
    <!-- <fdir1>0 1 0</fdir1> -->
    <!-- <slip1> 0.1 </slip1> -->
    <mu1>0.0001</mu1>
    <mu2>0.0001</mu2>
  </gazebo>
  </xacro:macro>
  
</robot>
