<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rox">

  <xacro:macro name="rox_base" params="name parent *origin">

   <joint name="${name}_joint" type="fixed">
    <xacro:insert_block name="origin" />
    <axis xyz="0 0 -1" />
    <parent link="${parent}" />
    <child link="${name}" />
   </joint>

   <link name="${name}">
      <inertial>
      <!-- These are not accurate value -->
        <mass value="140.0" />
        <origin xyz="0.0 0 0.18" rpy="0.0 0.0 0.0"/>
        <inertia ixx="7.8" ixy="0.0" ixz="0" iyy="7.8" iyz="0.0" izz="7.8"/>
      </inertial>
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
          <xacro:if value="${linear_axis == True}">
            <mesh filename="package://rox_description/meshes/linear_axis_frame.dae" scale="0.001 0.001 0.001"/>
          </xacro:if>
          <xacro:unless value="${linear_axis == True}">
            <mesh filename="package://rox_description/meshes/short_frame.dae" scale="0.1 0.1 0.1"/>
          </xacro:unless>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
        <geometry>
          <xacro:if value="${linear_axis == True}">
            <mesh filename="package://rox_description/meshes/linear_axis_frame.dae" scale="0.001 0.001 0.001"/>
          </xacro:if>
          <xacro:unless value="${linear_axis == True}">
            <mesh filename="package://rox_description/meshes/short_frame.dae" scale="0.1 0.1 0.1"/>
          </xacro:unless>
        </geometry>
      </collision>
    </link>

  </xacro:macro>

</robot>
