<?xml version="1.0"?>
<!--
Author: Pradheep Padmanabhan
Contributor: Adarsh Karan K P
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur">

  <!-- create arm from macro-->
  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>
  <xacro:include filename="$(find ur_robot_driver)/urdf/ur.ros2_control.xacro"/>
  <xacro:include filename="$(find ur_description)/urdf/inc/ur_transmissions.xacro"/>

  <!-- UR arm parameters -->
  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>
  <xacro:arg name="safety_limits" default="false"/>
  <xacro:arg name="safety_pos_margin" default="0.15"/>
  <xacro:arg name="safety_k_position" default="20"/>

  <!-- When using gazebo simulations absolute paths are necessary -->
  <xacro:arg name="force_abs_paths" default="false" />

  <!-- ros2_control related parameters -->
  <xacro:arg name="headless_mode" default="false" />
  <xacro:arg name="script_filename" default="$(find ur_client_library)/resources/external_control.urscript"/>
  <xacro:arg name="output_recipe_filename" default="$(find ur_robot_driver)/resources/rtde_output_recipe.txt"/>
  <xacro:arg name="input_recipe_filename" default="$(find ur_robot_driver)/resources/rtde_input_recipe.txt"/>
  <xacro:arg name="reverse_ip" default="0.0.0.0"/>
  <xacro:arg name="script_command_port" default="50004"/>
  <xacro:arg name="reverse_port" default="50001"/>
  <xacro:arg name="script_sender_port" default="50002"/>
  <xacro:arg name="trajectory_port" default="50003"/>
  <!-- tool communication related parameters-->
  <xacro:arg name="use_tool_communication" default="false" />
  <xacro:arg name="tool_voltage" default="0" />
  <xacro:arg name="tool_parity" default="0" />
  <xacro:arg name="tool_baud_rate" default="115200" />
  <xacro:arg name="tool_stop_bits" default="1" />
  <xacro:arg name="tool_rx_idle_chars" default="1.5" />
  <xacro:arg name="tool_tx_idle_chars" default="3.5" />
  <xacro:arg name="tool_device_name" default="/tmp/ttyUR" />
  <xacro:arg name="tool_tcp_port" default="54321" />

  <xacro:arg name="use_mock_hardware" default="false" />
  <xacro:arg name="mock_sensor_commands" default="false" />
  
  <!-- simulation controllers will be passed from launch file after substitutions -->
  <xacro:arg name="simulation_controllers" default=""/>

  <!--
    All robot-specific driver settings are macro parameters.  This is important
    for a multi-robot description: xacro arguments are global and would make
    both hardware components use the same calibration, ports and tool device.
  -->
  <xacro:macro name="ur" params="
      name parent use_gz include_arm_ros2_control arm_type tf_prefix robot_ip
      initial_positions_file
      joint_limits_parameters_file
      kinematics_parameters_file
      physical_parameters_file
      visual_parameters_file
      headless_mode:=false
      reverse_ip:=0.0.0.0
      script_command_port:=50004
      reverse_port:=50001
      script_sender_port:=50002
      trajectory_port:=50003
      use_tool_communication:=false
      tool_device_name:=/tmp/ttyUR
      tool_tcp_port:=54321
      *origin">

    <!-- parse initial positions as a dictionary -->
    <!-- This is mainly for using with Mock Controller -->
    <xacro:property 
      name="ur_initial_positions"
      value="${xacro.load_yaml(initial_positions_file)}"
      />

    <!-- create arm from macro-->
    <xacro:ur_robot
      name="${name}"
      parent="${parent}"
      tf_prefix="${tf_prefix}"
      joint_limits_parameters_file="${joint_limits_parameters_file}"
      kinematics_parameters_file="${kinematics_parameters_file}"
      physical_parameters_file="${physical_parameters_file}"
      visual_parameters_file="${visual_parameters_file}"
      safety_limits="$(arg safety_limits)"
      safety_pos_margin="$(arg safety_pos_margin)"
      safety_k_position="$(arg safety_k_position)"
      force_abs_paths="$(arg force_abs_paths)"
      >
      <xacro:insert_block name="origin" />
    </xacro:ur_robot>

    <!-- this condition is to ensure that ros2_control doesn't interfere with gz_ros2_control during simulation  -->
    <xacro:unless value="${use_gz}">
      <xacro:if value="${include_arm_ros2_control}">

        <xacro:ur_ros2_control
          name="${name}"
          tf_prefix="${tf_prefix}"
          kinematics_parameters_file="${kinematics_parameters_file}"
          transmission_hw_interface="$(arg transmission_hw_interface)"
          headless_mode="${headless_mode}"
          initial_positions="${ur_initial_positions}"
          use_tool_communication="${use_tool_communication}"
          tool_voltage="$(arg tool_voltage)"
          tool_parity="$(arg tool_parity)"
          tool_baud_rate="$(arg tool_baud_rate)"
          tool_stop_bits="$(arg tool_stop_bits)"
          tool_rx_idle_chars="$(arg tool_rx_idle_chars)"
          tool_tx_idle_chars="$(arg tool_tx_idle_chars)"
          tool_device_name="${tool_device_name}"
          tool_tcp_port="${tool_tcp_port}"
          robot_ip="${robot_ip}"
          script_filename="$(arg script_filename)"
          output_recipe_filename="$(arg output_recipe_filename)"
          input_recipe_filename="$(arg input_recipe_filename)"
          reverse_ip="${reverse_ip}"
          script_command_port="${script_command_port}"
          reverse_port="${reverse_port}"
          script_sender_port="${script_sender_port}"
          trajectory_port="${trajectory_port}"
          use_mock_hardware="$(arg use_mock_hardware)"
          mock_sensor_commands="$(arg mock_sensor_commands)"
          />
      </xacro:if>
    </xacro:unless>
  </xacro:macro>

</robot>
